* {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

h1 {
    font-weight: bold;
    font-size: 80px;
}

.bear-box {
    width: 33%;
    display: flex;
    justify-content: center;

}

.bear-box img {
    width: 90%;
    margin: auto;
}

section {
    color: white;
    min-height: 100vh;
}

.section-beer-1 {
    background-color: #19750c;
}

.section-beer-2 {
    background-color: #491c92;
}

.section-beer-3 {
    background-color: #194096;
}

.beer-active {
    width: 300pt;
}

@media(max-width: 1000px) {
    .beer-not-active {
        display: none;
    }

    .beer-active {
        width: 100%;

    }

    .beer-active img {
        width: 50%;
    }
}
nav{
    z-index: 100000 !important;
}